.container{
    margin: 28px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 44px;
    background: linear-gradient(to bottom,rgba(0,0,0,.14),rgba(0,0,0,.03) 3px,transparent);
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}
.content a{
    font-size: 11px;
    line-height: 18px;
    transition: all 0.2s ease-in-out;
    line-height: 1.465!important;
    text-decoration: none;
    color: var(--form-a-color);
}

.content a:hover{
    color: var(--form-btn-orange);
    text-decoration: underline;
}

.copyright span{
    color: #555!important;
    font-size: 11px;
    margin: 0px 20px;
    text-align: center;
    line-height: 1.465;
}
