.container{
    margin-top: 48px;
    min-height: 100vh;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    line-height: 24px;
}

.heading{
    padding: 16px 50px;
    background-color: #f2f4f6;
    border-bottom: 1px solid #c4cacf;
}

.heading h1{
    font-size: 21px;
    font-weight: bold;
}

.content{
    display: flex;
    min-height: 100vh;
    padding: 0px 50px;
}

.LeftPanel{
    border-right: 1px solid #c4cacf;
    border-left: 1px solid #c4cacf;
    background-color: #f2f4f6;
}

.head{
    padding: 8px 24px;
    border-bottom: 1px solid #c4cacf;
    background-color: #f2f4f6;
    width: 250.4px;
}

.head h2{
    font-size: 19px;
    font-weight: bold;
}

.LeftPanel ul li{
    list-style: none;    
}

.LeftPanel ul li a{
    text-decoration: none;
    color: #0066c0;
    transition: color .2s ease-in-out;
    font-size: 17px;
    display: block;
    padding: 12px 24px;
}

.LeftPanel ul{
    background: var(--white);
    border-bottom: 1px solid #c4cacf;
}

.LeftPanel ul li a:hover{
    color: #0c4373;
}

.RightPanel{
    width: 100%;
    padding: 24px 0px 24px 24px;
}

.conHead h1{
    font-size: 21px;
    color: #000;
    line-height: 24px;
    margin-bottom: 8px;
}

.last{
    border-bottom: 1px solid #c4cacf;
    color: #5d6872;
    margin-bottom: 16px;
    padding-bottom: 16px;
    font-size: 17px;
}

.aSection p{
    color: #000;
    font-size: 17px;
    margin-bottom: 16px;
    line-height: 24px;
}

.aSection a{
    color: #0066c0;
    text-decoration: none;
    transition: color .2s ease-in-out;
}

.aSection a:hover{
    color: #0e8eff;
}

.sectiontitle{
    line-height: 24px;
    margin-bottom: 8px;
}

.aSection ul{
    padding-left: 24px;
}

.aSection ul li{
    margin-bottom: 8px;
}

@media (max-width: 760px) {
    .content{
        flex-direction: column;
        padding: 0px 32px;
    }
    .head{
        width: auto;
    }
    .RightPanel{
        padding: 24px 0px;
    }
}   