.container{
    background-color: var(--dark-blue-bg);
    /* bottom: 0; */
    color: #8197a4;
    /* display: inline-block; */
    font-size: 15px;
    line-height: 20px;
    margin: 0 auto;
    padding: 24px 0px;
    /* position: absolute; */
    text-align: center;
    width: auto;
}
.disflixLogo{
    margin: 10px 0px;
}

.contents{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 20px 0px;
    font-size: 15px;
    line-height: 16px;
    white-space: normals;
}

/* .links{
    margin: 0px 4px ;
} */
.linkName{
    text-decoration: none;
    padding-right: 8px;
    color: var(--nex-blue);
    transition: color .2s ease-in-out;
    font-weight: 500;
}
.linkName:hover{
    color: var(--nex-blue-hover);
}
.links{
    margin: 5px 0px;
}
.copyright span{
    color: #8197a4;
    padding: 0px 10px;
}

@media (max-width: 593px){
    .contents{
        flex-direction: column;
        font-size: 14px;
        font-weight: 500 !important;
    }
    .links{
        margin: 10px 0px;
    }
    .linkName{
        padding: 5px 8px;
    }
}

@media (max-width: 378px){
    .contents{
        font-size: 12px;
    }
}
